In [25]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [26]:
file_path = '../data/data_manipulation_resources/AB_NYC_2019.csv'
df = pd.read_csv(file_path)

In [27]:
df.head(3)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365

In [28]:
df2 = df.set_index('id')
df2.head(3)

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,,
2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365

In [29]:
df.name[2539]

"BROWNSTONE BROOKLYN'S FINEST in NYC"

In [30]:
df2.groupby('neighbourhood_group').mean().availability_365

neighbourhood_group
Bronx            165.758937
Brooklyn         100.232292
Manhattan        111.979410
Queens           144.451818
Staten Island    199.678284
Name: availability_365, dtype: float64

In [31]:
df3 = df2.groupby('neighbourhood_group').mean().availability_365
df3.reset_index()

  neighbourhood_group  availability_365
0               Bronx        165.758937
1            Brooklyn        100.232292
2           Manhattan        111.979410
3              Queens        144.451818
4       Staten Island        199.678284

In [23]:
df3.reset_index(drop=True)

0    165.758937
1    100.232292
2    111.979410
3    144.451818
4    199.678284
Name: availability_365, dtype: float64

In [36]:
df2.sort_index(ascending=False).head(3)

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,,
36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23
36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27

In [42]:
df2.sort_values('price').head(1)

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,,
20639914,Cozy yet spacious private brownstone bedroom,86327101,Adeyemi,Brooklyn,Bedford-Stuyvesant,40.68258,-73.91284,Private room,0,1,95,2019-06-23,4.35,6,222

In [45]:
df2.sort_values(['neighbourhood_group','price'], ascending=False).head(6)

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,,
18051877,Victorian Film location,2675644,Alissa,Staten Island,Randall Manor,40.63952,-74.09730,Entire home/apt,5000,1,0,NaN,NaN,1,344
34835762,Central Hall Colonial with Free Parking Bus EX...,252051657,Anastasios,Staten Island,Prince's Bay,40.53076,-74.20295,Entire home/apt,1250,14,0,NaN,NaN,1,23
4623622,Victorian with Stunning Views of NYC Harbor,22506665,William,Staten Island,St. George,40.64571,-74.07835,Entire home/apt,1000,1,0,NaN,NaN,1,364
20305160,Beach House Retreat. 15 minutes from Manhattan.,1715301,Mark,Staten Island,Fort Wadsworth,40.59546,-74.06092,Entire home/apt,800,7,0,NaN,NaN,3,365
1798271,Spacious center hall colonial,9430973,Donna,Staten Island,Woodrow,40.53884,-74.19826,Entire home/apt,700,7,0,NaN,NaN,1,0
738588,"Wedding guests accommodations, 3-7 bedrooms",1360198,Marina,Staten Island,Arrochar,40.59193,-74.06476,Entire home/apt,625,4,1,2015-11-01,0.02,4,335

In [49]:
df2.groupby('neighbourhood_group').count().neighbourhood

neighbourhood_group
Bronx             1091
Brooklyn         20104
Manhattan        21661
Queens            5666
Staten Island      373
Name: neighbourhood, dtype: int64

In [52]:
df.neighbourhood_group.unique()

array(['Brooklyn', 'Manhattan', 'Queens', 'Staten Island', 'Bronx'],
      dtype=object)

In [54]:
df.neighbourhood_group.value_counts().sort_values()

Staten Island      373
Bronx             1091
Queens            5666
Brooklyn         20104
Manhattan        21661
Name: neighbourhood_group, dtype: int64

In [58]:
df2[[ 'neighbourhood_group','neighbourhood','price']].sort_values(['neighbourhood_group','price'], ascending=False).head(6)

         neighbourhood_group   neighbourhood  price
id
18051877       Staten Island   Randall Manor   5000
34835762       Staten Island    Prince's Bay   1250
4623622        Staten Island      St. George   1000
20305160       Staten Island  Fort Wadsworth    800
1798271        Staten Island         Woodrow    700
738588         Staten Island        Arrochar    625